* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

/* obrazki do ostylowania w zadaniu 3, użyć flexboxa do gallery i gallery-item */
.gallery {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 37px;
  margin: 21px;
  padding: 37px;
}

.gallery-item {
  margin: 21px;
}

.gallery img {
  height: auto;
  max-width: 100%;
}

/* zadanie 2 do ostylowania lista skladnikow */
.ingredient {
  list-style: square;
}
